<html>
<head>
    <title>Handla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
    {% include 'styles.css' %}
    </style>
</head>
<body>
    <h1>Listan</h1>
    <div class="buttons">
        <input type="button" value="Uppdatera" id="button-update" class="button" />
        <input type="button" value="Tillbaka" id="button-stop-search" class="button cancel" />
        <input type="button" value="Ny sak" id="button-add" class="button right" />
    </div>
    <input id="search" autofocus onkeyup="filter_changed()" placeholder="Filtrera/lägg till" autocorrect="off" autocapitalize="off" />
    <div id="items">
    </div>

    <template id="item-template">
<style>
#label {
    font-size: 20pt;
    padding-left: 3pt;
    cursor: pointer;
}

#comment {
    font-size: 12pt;
    padding-left: 3pt;
    font-style: italic;
}

#edit {
    font-size: 12pt;
    padding-left: 3pt;
    cursor: pointer;
    color: #888;
    text-decoration: none;
}

.processing {
    background-color: #ffaa55;
}
</style>
        <div id="container">
            <span id="label"></span>
            <span id="comment"></span>
            <a id="edit">[ÄNDRA]</a>
        </div>
    </template>
    <script>
    {% include 'app.js' %}
    </script>
</body>
</html>
