<html>
<head>
    <title>Handla</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <style>
    {% include 'styles.css' %}
    </style>
</head>
<body>
    <h1>Listan</h1>
    <div class="buttons">
        <input type="button" value="Uppdatera" id="button-update" class="button" />
        <input type="button" value="Tillbaka" id="button-stop-search" class="button cancel" />
        <input type="button" value="Ny sak" id="button-add" class="button right" />
    </div>
    <input id="search" autofocus onkeyup="filter_changed()" placeholder="Filtrera/lägg till" autocorrect="off" autocapitalize="off" />
    <div id="items">
    </div>

    <script>
    {% include 'app.js' %}
    </script>
</body>
</html>
