<html>
<head>
    <title>RTH</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    {% include 'styles.css' %}
    </style>

</head>
<body>
    <h1>Lägg till saker</h1>
    <input id="search" onkeyup="filter_changed()" autofocus />
    <form action="index.html" method="get" id="form">
    {% for cat in cats %}
        <h2>{{ cat['name'] }}</h2>
        {% for item in cat['items'] %}
        <div class="thing">
            <input
                type="checkbox"
                id="{{ item['thing'] }}"
                name="uncheck"
                value="{{ item['thing'] }}" />
            <label for="{{ item['thing'] }}">{{ item['thing'] }}</label>
        </div>
        {% endfor %}
    {% endfor %}
    <div>
        <input type="submit" value="Lägg till" />
    </div>
    </form>
</body>
<script>
function filter_changed() {
    var input = document.getElementById("search");
    var filter = input.value.toUpperCase();
    var form = document.getElementById("form");
    var items = form.getElementsByTagName("div");

    for (var i = 0; i < items.length; i++) {
        var item = items[i];
        var label = item.getElementsByTagName("label")[0];
        var text = label.textContent || label.innerText;
        if (text.toUpperCase().indexOf(filter) > -1) {
            item.style.display = "";
        } else {
            item.style.display = "none";
        }
    }
}
</script>
</html>

