body {
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: sans;
}

h1 {
    background-color: black;
    color: white;
    padding: 5pt;
    margin-bottom: 0pt;
}

h1.error {
    background-color: #822;
}

h2 {
    background-color: gray;
    color: white;
    padding: 1pt;
    margin-top: 0pt;
    margin-bottom: 1pt;
    font-size: 8pt;
    text-transform: uppercase;
}

.menu {
    font-size: 16pt;
    padding: 3pt;
}

.button {
    background-color: green;
    border: none;
    color: white;
    padding: 10pt 15pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    margin: 4pt 2pt;
}

.right {
    float: right;
}

input#search {
    width: 100%;
    margin 0pt;
    padding: 8pt;
    font-size: 16pt;
    border: 0;
}

div.buttons {
    background-color: gray;
    padding: 2pt;
}

input[type=text].input-text {
    padding: 8pt;
    font-size: 16pt;
    width: 100%;
    border: 0;
}

.cancel {
    background-color: #666;
}

select.input-select {
    padding: 8pt;
    font-size: 16pt;
    width: 100%;
    border: 0;
    background-color: white;
}

div.finstilt {
    padding: 2pt;
    font-style: italic;
    color: #222;
}

div.error-line {
    padding: 2pt;
}
